*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: absolute;
}

.content h1{
    font-size: 70px;
    color: #fff;
    transition: 0.5s;
    margin-bottom: 50px;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a{
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 27%;
    border-radius: 3px;
    transition: 0.5s;
}

.content a:hover{
    background-color: #fff;
    color: #000;
}

C S.content a {
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    display: inline-block; /* Change to inline-block */
    margin: 0 auto;
}

/* ********************** CSS Media Queries ***************************** */
@media only screen and (max-width : 550px) {
    .content h1{
        font-size: 50px;
    }

    .content h1{
        -webkit-text-stroke: 2px white;
        color: transparent;
    }

    .content a{
        font-size: 18px;
        margin-left: 24%;
    }

    .content a:hover{
        color: #fff;
        background-color: transparent;
    }
    
}

