*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}

.navbar{
    height: 75px;
    width: 99.9%;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border: 2px solid gray;
}

.logo{
    height: 60px;
    width: 180px;
    cursor: pointer;
    background-image: url(cars-logo.png);
    background-position: center;
    background-size: cover;
    margin-left: 5px;
}

.text{
    height: 70px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text ul{
    display: flex;
}

.text ul li{
    display: flex;
    text-decoration: none;
    font-size: 17px;
    margin: 0 60px;
    position: relative;
}

.text ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: gray;
    transition: width ease 1s;
}

.text ul li:hover::after{
    width: 100%;
}

.text ul li:hover{
    cursor: pointer;
}

.menu{
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

.menu:hover{
    cursor: pointer;
}

.menu::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: gray;
    width: 0;
    transition: width ease 1s;
}

.menu:hover::after{
    width: 100%;
}

.background{
    height: 70vh;
    width: 100%;
    background-image: url(car-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background::after{
        content: " ";
        position: absolute;
        inset: 0;
        background-color: black;
        z-index: -1;
        opacity: 0.5;
    }

    .msg{
        background-color: grey;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 25px;
        margin-bottom: 15px;
    }

.msg a{
        text-decoration: none;
        font-size: 17px;
        margin-left: 5px;
    }

.msg a:hover{
    text-decoration: underline;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(155, 165, 169);
}

.box{
    height: 100px;
    width: 23%;
    height: 380px;
    margin: 10px;
    background-color: gray;
    margin-top: 20px;
}

.box1-img{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.7rem;
}

.box-content{
    margin-top: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content h2{
    display: block;
    margin: auto;
    width: 50%;
}

p{
    height: 20px;
    margin-top: 15px;
    margin: auto;
    width: 50px;
    font-size: 16px;
}

button{
    padding: 10px 25px;
    font-size: 15px;
    outline: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

button:hover{
    background-color: rgb(28, 27, 27);
    cursor: pointer;
}

.contact-section{
    height: 150px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.email{
    width: 100%;
    background-color: rgb(19, 19, 38);
    position: relative;
}

.email .our{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.email .car-email{
    color: gray;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.email .car-email:hover{
    color: rgb(103, 100, 100);
    text-decoration: underline;
    cursor: pointer;

}

.feedback{
    height: 200px;
    background-color: rgb(10, 10, 22);
    position: relative;
}

.feedback textarea{
    background-color: rgb(35, 34, 34);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    padding: 8px 8px;
    font-size: 13px;
    letter-spacing: 1px;
}

.feedback button{
    position: absolute;
    top: 80%;
    left: 59.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(35, 35, 52);
}

.feedback button:hover{
    background-color:rgb(24, 24, 34) ;
}


.footer{
    height: 300px;
    background-color: black;
    color: white;
    padding-top: 75px;
}

.back{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back a{
    font-size: 1.5rem;
    color: white; 
    text-decoration: none;
}

.back a:hover{
    color: gray;
    font-size: 1.5rem;
    text-decoration:underline;
}

.copyright{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer .copyright i {
    margin-left: 48%; /* Adjust this value as needed */
}

.footer .copyright p{
    margin-right: 47%;
}

.border-line{
    height: 15px;
    background-color: rgb(155, 165, 169);
}



